/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom right, #f8f9fa, #e9ecef);
    height: 100vh;
}

/* Navigation Bar */
.main {
    background: #1e1e2f;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    /* display: flex; */
}

.main h1 {
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
}


.NavBarLi ul {
    display: flex;        /* make li horizontal */
    gap: 30px;            /* space between items */
    list-style: none;     /* remove bullets */
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.NavBarLi ul li {
    color: #eee;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

.NavBarLi ul li:hover {
    color: #00d4ff;
    transform: translateY(-2px);
}

/* Logout button */
#logout {
    background: #ff4d4d;
    padding: 6px 16px;
    border-radius: 5px;
    transition: 0.3s;
}

#logout:hover {
    background: #ff2d2d;
    color: #fff;
}
