 .card {
      border: 1px solid black;
      width: 400px;
      padding: 6px;
      background-color: bisque;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      
    }
    .mainDiv {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        font-size: 40px;
        padding: 10px;
        
    }
    .mainDiv p{
        display: flex;
    }
    .main {
      display: flex;
      flex-wrap: wrap;
      gap: 2px;
      justify-content: space-between;
     align-items: center;
    }


   


