body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

h1{
    font-style: italic !important;
    text-decoration: dotted !important;
    text-transform: capitalize !important;
    text-shadow: 0px 20px 5px rgba(104, 32, 32, 0.5) !important;
    font-size:20px !important;

    
}

h1:hover{
    color: blue !important;
    /* background: lightblue; */
    text-decoration: underline !important;
    cursor: pointer !important;
    transform: scale(1) !important;
}

/* #para{
    display: none;
} */