body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 40px;
}

h1 {
  color: #38bdf8;
}

.input-box {
  margin: 20px;
}

input {
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  background: #38bdf8;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #0ea5e9;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #1e293b;
  margin: 10px auto;
  padding: 15px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
}

.clear {
  background: red;
  color: white;
}
