body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e5ec;
    font-family: Arial, sans-serif;
}

.neomorphic {
    background: #e0e5ec;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #ffffff;
}

.neomorphic-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 300px;
    text-align: center;
}

h2 {
    color: #6d7532;
    margin-bottom: 20px;
}

.neomorphic-input {
    padding: 15px;
    width: 80%;
    font-size: 16px;
    color: #6d7582;
    border: none;
    outline: none;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: inset 5px 5px 10px #a3b1c6, inset -5px -5px 10px #ffffff;
    background: #e0e5ec;
}

.neomorphic-input::placeholder {
    color: #a301c6;
}

.neomorphic-button {
    padding: 15px 30px;
    font-size: 16px;
    color: #6d7582;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 5px 5px 10px #a3b1c6, -5px -5px 10px #ffffff;
    transition: all 0.2s ease;
    background: #e0e5ec;
}

.neomorphic-button:active {
    box-shadow: inset 5px 5px 10px #a3b1c6, inset -5px -5px 10px #ffffff;
}

.link {
    color: #6d7532;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
