*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
      background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

.hidden {
    display: none;
}

.page{
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    
}